<!-- src/main/resources/templates/book/list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<h2>Book List</h2>
<table border="1">
    <thead>
    <tr>
        <th>getId</th>
        <th>getTitle</th>
        <th>getLink</th>
        <th>getImage</th>
        <th>getAuthor</th>
        <th>getPublisher</th>
        <th>getIsbn</th>
        <th>getLecture</th>
        <th>getCount</th>
        <th>getBorrowedCount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getLink()}"></td>
        <td th:text="${book.getImage()}"></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getPublisher()}"></td>
        <td th:text="${book.getIsbn()}"></td>
        <td th:text="${book.getLecture()}"></td>
        <td th:text="${book.getCount()}"></td>
        <td th:text="${book.getBorrowedCount()}"></td>
    </tr>
    </tbody>
</table>
<a href="/books/add">Add Book</a>
</body>
</html>
