@charset "utf-8";

#Memberwrap																			{ position:relative;float:left; width:100%; letter-spacing:-1px; }


/* 로그인*/
.member_Login																			{ width:95%; margin:0 auto; line-height:25px;}
.member_Login	h4																	{ font-size:16px; font-weight:normal; color:#282828; padding-bottom:30px; letter-spacing:-2px;}
.member_Login	h4	span															{ width:100%; font-size:20px; color:#0E77E6; display:inline-block; padding-bottom:5px;}

.logined {box-sizing: border-box; border: 1px solid #cccccc; height: 60px; display: inline-block; width: 100%; text-align: center; padding-top: 20px; font-size: 16px;}

.loginbox{background:#fdfdfd; border:1px solid #dfdfdf; padding:25px 30px 15px; width:60%;margin:50px auto; font-size:15px; position:relative }
.loginbox li{background:url(../../../../images/dot_gray.png) no-repeat 0 9px; padding-left: 15px; padding-bottom:10px; }
.loginbox li:nth-child(3){/* position:absolute; right:225px ; bottom:16px; */ color:#024287}
.loginbox2{background:#f9f9f9; border:1px solid #dfdfdf; padding:40px 75px 70px; width:60%;margin:50px auto; font-size:15px; }
.loginbox2 .membertitle{text-align:center; margin-bottom:45px; position:relative}
.loginbox2 .membertitle span{position:absolute; width:30px; height:1px; background:#4c136a; display:block; margin-top:15px; left:50%; margin-left:-15px}
.loginbox2  .memberlogin{border-bottom:1px solid #b0b0b0; padding:0 50px 30px 40px; margin-bottom:45px; }
.loginbox2  .memberlogin .membercheck{position:relative;}
.loginbox2  .memberlogin .memberinput{overflow:hidden; margin-bottom:7px; height:45px;}
.loginbox2  .memberlogin .membercheck label{display:block; width:85px; text-align:left;  box-sizing:border-box; font-size:16px; float:left; line-height:43px;}
.loginbox2  .memberlogin .membercheck input[type=text]{width: 327px; height:45px; border:1px solid #cccccc; box-sizing:border-box; font-size:13px;padding-left:10px;}
.loginbox2  .memberlogin .membercheck input[type=password]{width: 327px; height:45px; border:1px solid #cccccc; box-sizing:border-box; font-size:13px;padding-left:10px;}
.loginbox2  .memberlogin .memberbtn{background:#024287; color:#FFF; width:130px; height:95px; line-height:94px; border:1px solid  #024287; text-align:center; position:absolute; right: 0; top:0px; font-size:18px; font-weight:bold; cursor:pointer}
.loginbox2  .memberlist{ overflow:hidden}
.loginbox2  .memberlist ul{padding-left: 30px; float:left; width:360px; }
.loginbox2  .memberlist li{background:url(../images/dot.gif) no-repeat 0 7px; padding-left:10px; padding-bottom:3px; font-size:13px;}
.loginbox2  .memberlist .memberpoliy{ float:left; text-align: center; }
.loginbox2  .memberlist .memberpoliy .mpolicybtn{background:#024287; color:rgb(255, 255, 255); font-size:12px; width:220	px; height:35px; line-height:35px; text-align:center; margin-bottom:10px}
.loginbox2 .memberlist .memberpoliy .mpolicybtn a {color:rgb(255, 255, 255); font-size:13px;}
.loginbox2  .memberlist .mpoliytxt{color:#d42078 ; font-size:13px;}

.login_form																	{ position:relative; float:left; width:100%; background-color:#f9f9f9; border:1px solid #ccc; padding:45px 0 20px 0;}
.login_form	 li																{ width:100%; padding-bottom:25px; margin-bottom:25px; /*border-bottom:1px dotted #ccc;*/ display:inline-block;}
.login_form	 li	dl															{ width:85%; margin:0 auto;}
.login_form	 li	dl	dt														{ float:left; width:25%; font-size:20px; color:#282828;  padding-bottom:10px;}
.login_form	 li	dl	dd													{ float:right; width:72%; padding-bottom:10px;}
.login_form	 li	dl	dd	ul												{ width:100%; }
.login_form	 li	dl	dd	ul	li											{ float:left; width:48.5%; padding:7px 0; margin-bottom:10px; border:0;}
.login_form	 li	dl	dd	ul	li:nth-child(odd)					{ float:left;}
.login_form	 li	dl	dd	ul	li:nth-child(even)					{ float:right;}
.login_form	 li	dl	dd	ul	li	a										{ color:#fff; font-weight:bold; margin-left:55px;}
.login_form	 li	dl	dd	dl												{ position:relative; float:left; width:100%; line-height:40px; margin-top:-5px;}
.login_form	 li	dl	dd	dl	dt											{ float:left; width:20%; font-size:15px; color:#343434; display:inline-block;}
.login_form	 li	dl	dd	dl	dd										{ float:right; width:78%; }
.login_form	 li	dl	dd	label											{ }
.login_form	 li	dl	dd	input										{ }
.login_form	.inputst1													{ width:100%; height:25px; border:1px solid #ccc;}
.login_form	.auto														{ position:absolute; left:120px; top:90px; font-size:12px; color:#707070; line-height:20px;}
.login_form	.login_btn													{ float:right; width:78%; background-color: #1F4787; border:0; font-size:18px; text-align:center; color:#fff; padding:10px 0; display:block; cursor:pointer; margin-top:10px;font-family:"맑은고딕",Malgun Gothic,"나눔고딕",Nanum Gothic,"돋움",dotum,AppleGothic,sans-serif;}
.login_form	.nth_right										{ float:right;}
.login_form	.naver											{ background:#1ec800 url(../img/icon_naver.gif) top left no-repeat; border:1px solid #1EB12F;}
.login_form	.facebook										{ background:#415B94 url(../img/icon_facebook.gif) top left no-repeat; border:1px solid #3b5080;}
.login_form	.daum											{ background:#5B78E5 url(../img/icon_daum.gif) top left no-repeat; border:1px solid #4763cd;}
.login_form	.kakao											{ background:#FFF000 url(../img/icon_kakao.gif) top left no-repeat; border:1px solid #e1d400;}
.login_form	.kakao	a										{ color:#3A1D1D;}
.login_form	.twitter											{ background:#35B8FC url(../img/icon_twitter.gif) top left no-repeat; border:1px solid #2DA0DB;}
.login_form	.none											{ padding-bottom:0; margin-bottom:0; border:0;}

.login_form	.login_idpw											{ position:relative; float:right; width:48%; margin-top:20px;}
.login_form	.login_idpw	li										{ position:relative; float:left; width:auto; border:0; padding:0; margin:0 15px;}
.login_form	.login_idpw	li	a									{ color:#545454;}
.login_form	.txt														{ }
.login_form	.txt	strong											{ color:#0E77E6; font-weight:normal;}


@media screen and (max-width:800px) {
}


@media screen and (max-width:400px) {

	.member_Login	h4													{ font-size:12px; font-weight:normal; color:#282828; padding-bottom:15px; letter-spacing:-2px;}
	.member_Login	h4	span											{ width:100%; font-size:16px; color:#0E77E6; display:inline-block; padding-bottom:0px;}
	.login_form																	{ position:relative; float:left; width:100%; background-color:#f9f9f9; border:1px solid #ccc; padding:30px 0 15px 0; }
	.login_form	 li	dl	dt														{ float:left; width:30%; font-size:16px; color:#282828;}
	.login_form	 li	dl	dd													{ float:right; width:65%;}
	.login_form	 li	dl	dd	dl	dt											{ width:30%; height:30px;}
	.login_form	 li	dl	dd	dl	dd										{ width:65%; height:30px;}
	.login_form	 li	dl	dd	label											{ font-size:12px;}
	.login_form	 li	dl	dd	ul	li											{ float:left; width:100%; padding:7px 0; margin-bottom:10px; border:0;}
	.login_form	 li	dl	dd	ul	li:nth-child(even)					{ float:left;}
	.login_form	 li	dl	dd	ul	li	a										{ color:#fff; font-weight:bold; margin-left:50px; font-size:11px;}
	.login_form	.inputst1													{ width:100%; height:25px; border:1px solid #ccc;}
	.login_form	.login_btn													{ float:right; width:100%; background-color: #1F4787; border:0; font-size:14px; text-align:center; color:#fff; padding:7px 0; display:block; cursor:pointer; font-family:"맑은고딕",Malgun Gothic,"나눔고딕",Nanum Gothic,"돋움",dotum,AppleGothic,sans-serif; margin-top:5px;}
	.login_form	.login_idpw												{ position:relative; float:right; width:65%; margin-top:10px;}
	.login_form	.login_idpw	li											{ position:relative; float:left; width:auto; border:0; padding:0; margin:0 8px;}
	.login_form	.login_idpw	li	a										{ color:#545454; font-size:11px;}
	.login_form	.txt															{ font-size:11px; line-height:17px;}
	.login_form	.txt	strong												{ color:#0E77E6; font-weight:normal;}
}




