<!-- src/main/resources/templates/loan-list.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loan List</title>
</head>
<body>
<h2>Loan List</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Member</th>
        <th>Books</th>
<!--        <th>loanDate</th>-->
<!--        <th>returnDate</th>-->
<!--        <th>returned</th>-->
        <!-- 추가적인 대출 정보를 표시 -->
    </tr>
    <tr th:each="loan : ${loans}">
        <td th:text="${loan.id}"></td>
        <td th:text="${loan.member.name}"></td>
        <td>
            <ul>
                <li th:each="book : ${loan.books}" th:text="${book.title}"></li>
            </ul>
        </td>
        <!-- 추가적인 대출 정보를 표시 -->
    </tr>
</table>
<a href="/loans/add">Add New Loan</a>
</body>
</html>
