<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        
        <!-- title of site -->
        <title>SE Library</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="assets/css/linearicons.css">

		<!--animate.css-->
        <link rel="stylesheet" href="assets/css/animate.css">

		<!--flaticon.css-->
        <link rel="stylesheet" href="assets/css/flaticon.css">

		<!--slick.css-->
        <link rel="stylesheet" href="assets/css/slick.css">
		<link rel="stylesheet" href="assets/css/slick-theme.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


	<link rel="stylesheet" type="text/css" href="assets/css/books/standard/common.css">
	<link rel="stylesheet" href="assets/css/books/jquery.mThumbnailScroller.css">
	<script src="assets/js/books/script/jquery-1.8.3.min.js"></script>
	<script src="assets/js/books/script/footable.js"></script>
	<!--[if lt IE 9]>
	<script src="assets/js/books/script/respond.src.js"></script>
	<script src="assets/js/books/script/css3-mediaqueries.js"></script>
	<![endif]-->
	<script src="assets/js/books/script/jquery.easing.1.3.js"></script>
    <script src="assets/js/books/script/jquery.dotdotdot.js"></script>
	<script src="assets/js/books/script/jquery.placeholder.min.js"></script>
	<script src="assets/js/books/script/jquery.mThumbnailScroller.js"></script>
	<script src="assets/js/books/script/sub.js"></script>
	<script src="assets/js/books/script/subFunction.js"></script>
	<script src="assets/js/common/util.js" ></script>
	<link rel="stylesheet" type="text/css" href="assets/css/books/standard/list.css">
	<link rel="stylesheet" type="text/css" href="assets/css/mylibrary/history.css">
	<link rel="stylesheet" type="text/css" href="assets/css/books/jquery.ui.custom.css">
	<script type="text/javascript" src="assets/js/books/script/list.js"></script></head>
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		<!--header-top start -->
		<header id="header-top" class="header-top">
			<ul>
				<li>
					<div class="header-top-left">
						<ul>
							<li class="header-top-contact">
								<a href="index.html">소프트웨어공학과 도서관</a> <!--홈페이지 주소-->
							</li>
						</ul>
					</div>
				</li>
				<li class="head-responsive-right pull-right">
					<div class="header-top-right">
						<ul>
							<li class="header-top-contact">
								<a href="https://www.jbnu.ac.kr/kor/">전북대학교</a> <!--홈페이지 주소-->
							</li>
							<li class="header-top-contact">
								<a href="https://dl.jbnu.ac.kr/">중앙도서관</a> <!--홈페이지 주소-->
							</li>
							<li class="header-top-contact">
								<a href="login.html">sign in</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
					
		</header><!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
		<section class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="index.html">SE<span>Library</span></a>

			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
								<li class="button"><a href="/">home</a></li>
								<li class="button"><a href="/books/">books</a></li>
								<li class="button"><a href="/notice">notice</a></li>
								<li class="button"><a href="/donation">donation</a></li>
								<li class="button"><a href="/myLibrary">my library</a></li>
			                </ul><!--/.nav -->
			            </div><!-- /.navbar-collapse -->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->
		    <div class="clearfix"></div>

		</section><!-- /.top-area-->
		<!-- top-area End -->

		<!-- major-area -->
	    <div class="listTable">
    		<table class="mobileTable">
			    <caption>전체 대출 기록</caption>
			    <thead>
    				<tr>
					    <th scope="row">No.</th>
					    <th scope="row">서명/저자</th>
					    <th scope="row" data-hide="phone">대출일</th>
					    <th scope="row" data-class="expand">반납일</th>
					    <th scope="row" data-hide="phone">반납</th>
			  	    </tr>
			    </thead>
			    <tbody>

					<tr th:each="loanHistory, stat : ${loanHistories}">
						<td class="num" th:text="${stat.index + 1}"></td>
						<td class="title" th:text="${loanHistory.book.title}"></td>
						<td class="loan_date" th:text="${loanHistory.borrowDate}"></td>
						<td class="return_date" th:text="${loanHistory.returnDate}"></td>
						<td>
							<a th:href="@{/loan/return/{bookId}(bookId=${loanHistory.id})}" th:id="'customButton_' + ${loanHistory.book.id}" href="#" class="returnBtn" title="반납">
								반납
							</a>
						</td>
					</tr>
				
			</tbody>
		</table>
	</div>
		<!-- major-area End-->

		<!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
						<div class="col-sm-3">
							<div class="navbar-header">
							 <a class="navbar-brand" href="index.html">SE<span>Library</span></a>
						 </div><!--/.navbar-header-->
						</div>
						<div class="col-sm-9">
							<ul class="footer-menu-item">
								<li class="button"><a href="/">home</a></li>
								<li class="button"><a href="/books/">books</a></li>
								<li class="button"><a href="/notice">notice</a></li>
								<li class="button"><a href="/donation">donation</a></li>
								<li class="button"><a href="/myLibrary">my library</a></li>
						 </ul><!--/.nav -->
						</div>
		           </div>
				</div>
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p>
								&copy;copyright. designed and developed by <a href="https://software.jbnu.ac.kr/software/index.do">dt.team7</a>
							</p><!--/p-->
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span><i class="fa fa-phone"> +82 10 7358 4755</i></span>
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
					
				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer-->
		<!--footer end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>

        <!--feather.min.js-->
        <script  src="assets/js/feather.min.js"></script>

        <!-- counter js -->
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>

        <!--slick.min.js-->
        <script src="assets/js/slick.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		     
        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
        
    </body>
	
</html>